* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebe5e5;
}

.calculator {

      width: 24rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      margin: 6rem auto;
      padding: auto 0;
      border-radius: 2rem;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
    }

    .text-box{
      margin: .5rem;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
      background-color: #d9e7e7;
      padding: 10px;
      border-radius: 2rem;
    }

    .text-box input{
      width: 100%;
      height: 10rem;
      background: none;
      border: none;
      font-size: 2.5rem;
      text-align: right;
      font-family: 'Orbitron', sans-serif;
      font-weight: 700;
    }

    input:focus {
      outline:none;
}

    .result {
      display:flex;
      margin-bottom: 5px;
      justify-content:right;
      font-size: 1.8rem;
      font-weight: 600;
      color: green;  
    }
    .calc-items {
      display: flex;
      flex-direction: column;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
    }

    .cols-4 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .items {
      text-align: center;
      font-size: 1.5rem;
      padding: 0rem;
      width: 4.8rem;
      height: 4.8rem;
      background-color: #e3eded;
      margin-right: .7rem;
      margin-bottom: .5rem;
      border-radius: 50%;
      border: none;
      font-family: 'Orbitron', sans-serif;
      font-weight: 600;
      cursor: pointer;
    }

  .items:active {
    background-color:black;
    color: white;
  }

    .margin-null {
      margin-right: 0;
    }

    .grey {
      background-color: #e7e7e7;
    }

    .green {
      background-color: #cde9db;
    }

    .cyan {
      background-color: cyan;
    }